	<script src="js/jquery.table2excel.js"></script>

<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title float-left"> Packing Completed Report</h4>
						 <!--  <ol class="breadcrumb float-right">
                                  		<li class="breadcrumb-item active"><button type="button" class="btn btn-primary btn-rounded w-md waves-effect waves-light" id="tooltip-touch" title="Add New Packing Box" ng-click="add()">Add New </button></li>
                         </ol>
                                -->   
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end row -->

		<!-- Add New Packing Box Start-->		

			<div class="row top" >
				<div class="col-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col-md-12">
								<div class="card-box">
									<h4 class="m-t-0 header-title"> Generate Activity Log:</h4>

									<form >
									<div class="col-sm-3 col-xs-3" ng-show="log.logBy=='Date'">
												<label class="control-form"> Date:  <span
														style="color:red;">*</span></label>
											</div>
										

										<div class="row" style="margin-top:1%">
											
											<div class="col-sm-3 col-xs-3" >
												<input type="date" ng-model="log.date"  class="f_left form-control" >
												<span ng-show="dateErr" style="color:red"> * Date is  Mandatory</span>
													
											</div>
											
											
										</div>
								
										<div class="row" style="margin-top:2%">
											<div class="col-sm-3 col-xs-3"></div>
											<div class="col-sm-3 col-xs-3"></div>
											<div class="col-sm-3 col-xs-3">
												<button
													class="btn btn-primary btn-rounded w-md waves-effect waves-light"
													style="width:100%;" ng-click="cancelAdd()"> Cancel </button>
											</div>
											<div class="col-sm-3 col-xs-3">
												
												<button
													class="btn btn-success btn-rounded w-md waves-effect waves-light"
													style="width:100%;" 
													ng-click="generate(log)">
													Generate </button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- Add New Packing Box End-->


			<div class="row" >
				<div class="col-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
							
								<div class="card-box table-responsive">
								<button class="btn btn-primary pull-right"  style="margin-bottom: 10px;"title="View "
														onClick="exportTableToExcelPackingBox()" ><i class="mdi mdi-printer"></i></button>
									<table   id="table2excel" class="table table-bordered"  datatable="ng"
										dt-column-defs="dtColumnDefs" dt-options="dtOptions">
										<thead>
											<tr class="customTable">
												<td>#</td>
												<td> Part No</td>
												<td> Componant Nmae</td>
												<td>Shift</td>
												<td> Generated By</td>
												<td> No of QR</td>
												
												
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat="arr in reports track by $index">
												<td> {{$index + 1}} </td>
												<td> {{arr.componentCode}} </td>
												<td> {{arr.componentname}} </td>
												<td> {{arr.shift}} </td>
												<td> {{arr.generatedBy}} </td>
												<td> {{arr.count}} </td>
												
												
											
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>











		</div>
	</div>
</div>
<script>



function exportTableToExcelPackingBox(){
	 $("#table2excel").table2excel({
		
		     // exclude CSS class
		  exclude:".noExl",
		   name:"Worksheet Name",
		   filename:"QR CODE GENERATED REPORT",//do not include extension
		 fileext:".xls" // file extension
		
		   });

}



</script>